<div class="max-w-5xl mx-auto p-6 bg-slate-50 min-h-screen">
    <h1 class="text-3xl font-extrabold text-slate-800 mb-8 border-b-4 border-indigo-500 inline-block">
        Gestión de Usuarios
    </h1>

    <div class="bg-white p-6 rounded-2xl shadow-xl border border-slate-200 mb-10">
        <form (ngSubmit)="registrarUsuario()" class="grid grid-cols-1 md:grid-cols-3 gap-4">
            <input [(ngModel)]="nuevoUsuario.name" name="name" type="text" placeholder="Nombre" required class="p-2 border rounded">
            <input [(ngModel)]="nuevoUsuario.email" name="email" type="email" placeholder="Email" required class="p-2 border rounded">
            <input [(ngModel)]="nuevoUsuario.phone" name="phone" type="text" placeholder="Teléfono" required class="p-2 border rounded">
            <input [(ngModel)]="nuevoUsuario.password" name="password" type="password" placeholder="Contraseña" required class="p-2 border rounded">
            
            <select [(ngModel)]="nuevoUsuario.rol" name="rol" class="p-2 border rounded bg-white">
                <option value="ROLE_VETERINARIO">Veterinario</option>
                <option value="ROLE_ADMIN">Administrador</option>
            </select>

            <button type="submit" class="md:col-span-3 bg-indigo-600 text-white font-bold py-3 rounded-lg">
                {{editando ? 'Actualizar Registro': 'Guardar Registro'}}
            </button>
        </form>
    </div>

    <div class="bg-white rounded-2xl shadow-xl overflow-hidden border border-slate-200">
        <table class="w-full text-left border-collapse">
            <thead class="bg-slate-800 text-white">
                <tr>
                    <th class="p-4">Acciones</th>
                    <th class="p-4">Nombre</th>
                    <th class="p-4">Email</th>
                    <th class="p-4">Rol</th>
                </tr>
            </thead>
            <tbody>
                @for (usuario of listaUsuarios(); track usuario.id) {
                <tr class="border-b hover:bg-gray-50">
                    <td class="p-4">
                        @if (servicioAuth.rolActual() === 'ROLE_ADMIN') {
                            <button (click)="eliminarUsuario(usuario.id!)">❌</button>
                            <button (click)="seleccionarParaEditar(usuario)">✏️</button>
                        } @else {
                            <span>🔒</span>
                        }
                    </td>
                    <td class="p-4">{{usuario.name}}</td>
                    <td class="p-4">{{usuario.email}}</td>
                    <td class="p-4">
                        <span [class]="usuario.rol === 'ROLE_ADMIN' ? 'text-red-500' : 'text-green-500'">
                            {{usuario.rol}}
                        </span>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>